/* ============== COMMON STYLES ============== */
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #ffffff;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, 
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.container { 
    max-width: 1158px;
    margin-left:  auto;
    margin-right:  auto;
    padding-left:  15px;
    padding-right:  15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

/* ============== /COMMON STYLES ============== */

/* ============== HEADER STYLES ============== */
.page-header {
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;
    position: sticky;
  	top: 0;
	z-index: 999;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.block-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 452px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo-studio {
    color: #2e2f42;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.menu-link {
    position: relative;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:focus,
.menu-link:hover {
    color: #404bbf;
}

.menu-link:active::after {
    display: flex;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px; /* треба - 4 щоб було як в макеті */
    flex-shrink: 0;
    border-radius: 2px;
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page {
    color: #404bbf;
}

.current-page::after {
    display: flex;
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: #404BBF;
}

.contacts {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-list-link {
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:focus,
.contacts-list-link:hover {
    color: #404bbf;
}
/* ============== /HEADER STYLES ============== */

/* ============== HERO STYLES ============== */
.hero {
    background-color:  #2E2F42;
    background-image:
        linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}
.hero > .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.main-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.order-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-color: #4D5AE5;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
    border-color: #404BBF;
}
/* ============== /HERO STYLES ============== */

/* ============== BENEFITS STYLES ============== */
.benefits-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.benefits-list-item {
    flex-basis: 264px;
}

.benefits-list-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    margin-bottom: 8px;
}

.benefits-icon {
    /* flex-basis: 264px; */
    margin: 24px auto;
    fill: #2e2f42;
}

.benefits-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.benefits-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ============== /BENEFITS STYLES ============== */

/* ============== TEAM STYLES ============== */
.team-section {
    background-color: #F4F4FD;
}

.section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.team-list-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-person {
    padding: 32px 0;
}

.team-list-title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-list-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-social-links-box {
    display: flex;
    justify-content: center; /*зайві 2 рядки, можна було б justify-content: space-around;*/
    gap: 24px;
}

.team-social-link {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404BBF;
}

.social-link-icon {
    margin: 12px;
    fill: #F4F4FD;
}
/*==============/TEAM STYLES==============*/

/* ============== PORTFOLIO STYLES ============== */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-img-box {
    position: relative;
    overflow: hidden;
}

.portfolio-list-img-box-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    padding: 40px 32px;
    color:  #F4F4FD;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    background: #4D5AE5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-list-img-box-text {
    transform: translateY(0%);
}

.portfolio-list-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}
/*==============/PORTFOLIO STYLES==============*/

/* ============== FOOTER STYLES ============== */
.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.page-footer .container {
    display: flex;
    align-items: baseline;
}

.footer-info-box {
    margin-right: 120px;
}

.page-footer .logo-link {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio-fotter {
    color: #F4F4FD;
}

.page-footer-text {
    color:  #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-social-box {

}

.footer-social-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-links-box {
    flex-basis: 132px;
    display: flex;
    gap: 16px;
}

.footer-social-link {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0Aa;
}

.footer-social-link-icon {
    margin: 8px;
    fill: #F4F4FD;
}
